* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Classic Console Neue';
    text-align: center;
    margin: 0;
}

.loading5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 1;
}

.loading55 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    display: none;
    opacity: 1;
}

body {
    background:
    conic-gradient(from 90deg at 2px 2px,#0000 90deg,rgb(0, 0, 0) 0) 
    0 0/50px 50px;
    background-color: #222222;
}

h1 {
    margin: 0;
    font-size: 75px;
    color:chartreuse;
}

p {
    font-size: 30px;
    color: chartreuse;
    text-align: left;
    margin-left: 1%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

li {
    padding: 3%;
    margin: auto;
}

h1:hover {
    color: rgb(255, 255, 255);
}

button {
    background-color: chartreuse;
    color: black;
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 50px;
    border: 3px solid black;
}

button:hover {
    color: white;
}

button:active {
    color: black;
}

@font-face {
    font-family: 'Classic Console Neue';
    src: url('../ClassicConsoleNeue.woff2') format('woff2'),
        url('../ClassicConsoleNeue.woff') format('woff'),
        url('../ClassicConsoleNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes moveGradient {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}

.gradient-animation {
    background: conic-gradient(from 90deg at 3px 3px, #0000 90deg, rgb(0, 0, 0) 0) 0 0/50px 50px;
    animation: moveGradient 10s linear infinite;
    background-color: #222222;
}